<br><br><br>
<div class="row">
    <div class="col-md-6 col-lg-6">
        Usuario {{usuario}}
    </div>
    <div class="col-md-6 col-lg-6">
        <a href="{{path('salida')}}">salir </a>
    </div>    
</div>    
    <br><br><br>